body {
  margin: 0;
  font-family: cursive;
}

header {
  background-color: #ffff00;
  font-size: 1.4rem;
  /* for phone and pad */
}
header .logo {
  margin-left: 0.5rem;
}
header nav ul {
  display: flex;
  padding-left: 0;
  margin: 0.5rem;
  padding-bottom: 0.5rem;
}
header nav ul li {
  list-style: none;
  margin-right: 1rem;
}
header #burger-checkbox {
  display: none;
}
@media (max-width: 1023px) {
  header {
    position: relative;
  }
  header label {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    background: #ffff00;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  header label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35px;
    height: 6px;
    background-color: #E95420;
    transition: all 0.3s linear;
    opacity: 1;
  }
  header label span:first-child {
    transform: translate(-50%, -15px) rotate(0deg);
  }
  header label span:last-child {
    transform: translate(-50%, 10px) rotate(0deg);
  }
  header #burger-checkbox:checked ~ label span:first-child {
    transform: translate(-18px, -2px) rotate(45deg);
  }
  header #burger-checkbox:checked ~ label span:nth-child(2) {
    opacity: 0;
  }
  header #burger-checkbox:checked ~ label span:last-child {
    transform: translate(-18px, -2px) rotate(-45deg);
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 0;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    left: -100%;
  }
  header nav ul li {
    list-style: none;
    margin-right: 1rem;
  }
  header #burger-checkbox:checked ~ nav ul {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 0;
    margin: 0;
    padding-bottom: 0.5rem;
    position: absolute;
    left: 0;
    background-color: #ffff00;
    width: 100%;
  }
  header #burger-checkbox:checked ~ nav ul li {
    list-style: none;
  }
  header #burger-checkbox:checked ~ nav ul li a {
    margin: 1rem;
  }
}

main {
  margin: 0.5rem;
}
main h1 {
  font-size: 3rem;
}
main h2 {
  background-color: #02fffe;
  font-size: 2rem;
  position: sticky;
  top: 0;
}
main section .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* for phone */
  /* for pad */
}
@media (max-width: 599px) {
  main section .gallery {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  main section .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
main section .gallery img {
  width: 100%;
}
main .fruit-hover figure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin: 0;
}
main .fruit-hover figure img {
  width: 100%;
}
main .fruit-hover figure img + figcaption {
  position: absolute;
  display: none;
}
main .fruit-hover figure img:hover + figcaption {
  position: absolute;
  display: block;
  background-color: #fe0103;
  color: white;
}
main .back-to-top-btn {
  position: fixed;
  background-color: #000000;
  right: 0;
  bottom: 0;
  padding: 0 1rem;
}
main .back-to-top-btn a:link {
  color: white;
}
main .back-to-top-btn a:visited {
  color: white;
}

footer {
  margin: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
