@use 'colors.scss' as colors;

body {
  margin: 0;
  font-family: cursive;
}

header {
  background-color: colors.$nav-color;
  font-size: 1.4rem;

  .logo {
    margin-left: .5rem;
  }

  nav ul {
    display: flex;
    padding-left: 0;
    margin: .5rem;
    padding-bottom: .5rem;

    li {
      list-style: none;
      margin-right: 1rem;
    }
  }

  #burger-checkbox {
    display: none;
  }

  /* for phone and pad */
  @media (max-width: 1023px) {
    position: relative;

    label {
      position: relative;
      display: block;
      width: 70px;
      height: 70px;
      background: colors.$nav-color;
      cursor: pointer;
      transition: all .2s ease-in;
    }

    label span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 35px;
      height: 6px;
      background-color: #E95420;
      transition: all .3s linear;
      opacity: 1;
    }

    label span:first-child {
      transform: translate(-50%, -15px) rotate(0deg);
    }

    label span:last-child {
      transform: translate(-50%, 10px) rotate(0deg);
    }

    #burger-checkbox:checked ~ label span:first-child {
      transform: translate(-18px, -2px) rotate(45deg);
    }

    #burger-checkbox:checked ~ label span:nth-child(2) {
      opacity: 0;
    }

    #burger-checkbox:checked ~ label span:last-child {
      transform: translate(-18px, -2px) rotate(-45deg);
    }

    nav ul {
      display: flex;
      flex-direction: column;
      z-index: 1;
      padding-left: 0;
      margin: .5rem;
      padding-bottom: .5rem;
      position: fixed;
      left: -100%;

      li {
        list-style: none;
        margin-right: 1rem;
      }
    }

    #burger-checkbox:checked ~ nav ul {
      display: flex;
      flex-direction: column;
      z-index: 1;
      padding-left: 0;
      margin: 0;
      padding-bottom: .5rem;
      position: absolute;
      left: 0;
      background-color: colors.$nav-color;
      width: 100%;

      li {
        list-style: none;

        a {
          margin: 1rem;
        }
      }
    }
  }
}

main {
  margin: .5rem;

  h1 {
    font-size: 3rem;
  }

  h2 {
    background-color: colors.$gallery-color;
    font-size: 2rem;
    position: sticky;
    top: 0;
  }

  section {
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      /* for phone */
      @media (max-width: 599px) {
        grid-template-columns: 1fr;
      }

      /* for pad */
      @media (min-width: 600px) and (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
      }

      img {
        width: 100%;
      }
    }
  }

  .fruit-hover {
    figure {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      margin: 0;

      img {
        width: 100%;

        + figcaption {
          position: absolute;
          display: none;
        }

        &:hover + figcaption {
          position: absolute;
          display: block;
          background-color: colors.$hover-color;
          color: white;
        }
      }
    }
  }

  .back-to-top-btn {
    position: fixed;
    background-color: colors.$back-to-top-color;
    right: 0;
    bottom: 0;
    padding: 0 1rem;

    a:link {
      color: white;
    }

    a:visited {
      color: white;
    }
  }
}

footer {
  margin: .5rem;
}